:host, :root, :root[data-theme=dark], :root [data-theme=dark] {
    --bodyG: #002126;
    --bodyBg: #002126;
    --bodyBgHover: #002a30;
    --bodyBg2: #003c45;
    --bodyBg2Hover: #005663;
    --bodyBg3: #00798c;
    --bodyBg3Hover: #00a6bf;
    --bodyRGBATransparent: rgba(0, 166, 191, 0);
    --bodyRGBA: rgba(0, 166, 191, 0.6);
    --bodyRGBA2: rgba(0, 166, 191, 0.4);
    --bodyRGBA3: rgba(0, 166, 191, 0.2);
    --bodyAccent: #00d9f9;
    --bodyAccentTxt: #000000;
    --bodyTxt: #939393;
    --bodyTxt2: #767c7d;
    --bodyTxt3: #677172;
    --bodyBorder: #002126;
    --bodyRadius: undefinedpx;
    --accentG: #00d9f9;
    --accentBg: #00d9f9;
    --accentBgHover: #00d0ef;
    --accentBg2: #00beda;
    --accentBg2Hover: #00a4bc;
    --accentBg3: #008093;
    --accentBg3Hover: #005460;
    --accentRGBATransparent: rgba(0, 84, 96, 0);
    --accentRGBA: rgba(0, 84, 96, 0.6);
    --accentRGBA2: rgba(0, 84, 96, 0.4);
    --accentRGBA3: rgba(0, 84, 96, 0.2);
    --accentAccent: #00d9f9;
    --accentAccentTxt: #000000;
    --accentTxt: #000000;
    --accentTxt2: #002b32;
    --accentTxt3: #00414b;
    --accentBorder: #00d9f9;
    --accentRadius: undefinedpx;
    --brandG: #00d9f9;
    --brandBg: #00d9f9;
    --brandBgHover: #00d0ef;
    --brandBg2: #00beda;
    --brandBg2Hover: #00a4bc;
    --brandBg3: #008093;
    --brandBg3Hover: #005460;
    --brandRGBATransparent: rgba(0, 84, 96, 0);
    --brandRGBA: rgba(0, 84, 96, 0.6);
    --brandRGBA2: rgba(0, 84, 96, 0.4);
    --brandRGBA3: rgba(0, 84, 96, 0.2);
    --brandAccent: #00d9f9;
    --brandAccentTxt: #000000;
    --brandTxt: #000000;
    --brandTxt2: #002b32;
    --brandTxt3: #00414b;
    --brandBorder: #00d9f9;
    --brandRadius: undefinedpx;
    --dominantG: #f2f2f2;
    --dominantBg: #f2f2f2;
    --dominantBgHover: #ededed;
    --dominantBg2: #e3e3e3;
    --dominantBg2Hover: #d3d3d3;
    --dominantBg3: #bfbfbf;
    --dominantBg3Hover: #a5a5a5;
    --dominantRGBATransparent: rgba(165, 165, 165, 0);
    --dominantRGBA: rgba(165, 165, 165, 0.6);
    --dominantRGBA2: rgba(165, 165, 165, 0.4);
    --dominantRGBA3: rgba(165, 165, 165, 0.2);
    --dominantAccent: #00d9f9;
    --dominantAccentTxt: #000000;
    --dominantTxt: #000000;
    --dominantTxt2: #303030;
    --dominantTxt3: #494949;
    --dominantBorder: #f2f2f2;
    --dominantRadius: undefinedpx;
    --buttonG: #00d9f9;
    --buttonBg: #00d0ef;
    --buttonBgHover: #00c7e5;
    --buttonBg2: #00b5d0;
    --buttonBg2Hover: #009bb2;
    --buttonBg3: #007789;
    --buttonBg3Hover: #004b56;
    --buttonRGBATransparent: rgba(0, 75, 86, 0);
    --buttonRGBA: rgba(0, 75, 86, 0.6);
    --buttonRGBA2: rgba(0, 75, 86, 0.4);
    --buttonRGBA3: rgba(0, 75, 86, 0.2);
    --buttonAccent: #00d9f9;
    --buttonAccentTxt: #000000;
    --buttonTxt: #000000;
    --buttonTxt2: #002a30;
    --buttonTxt3: #003e48;
    --buttonBorder: #00d9f9;
    --buttonRadius: undefinedpx;
    --buttonSecondaryG: #002126;
    --buttonSecondaryBg: #00a6bf;
    --buttonSecondaryBgHover: #00afc9;
    --buttonSecondaryBg2: #00c1de;
    --buttonSecondaryBg2Hover: #00dbfc;
    --buttonSecondaryBg3: #26e3ff;
    --buttonSecondaryBg3Hover: #59e9ff;
    --buttonSecondaryRGBATransparent: rgba(89, 233, 255, 0);
    --buttonSecondaryRGBA: rgba(89, 233, 255, 0.6);
    --buttonSecondaryRGBA2: rgba(89, 233, 255, 0.4);
    --buttonSecondaryRGBA3: rgba(89, 233, 255, 0.2);
    --buttonSecondaryAccent: #00d9f9;
    --buttonSecondaryAccentTxt: #000000;
    --buttonSecondaryTxt: #939393;
    --buttonSecondaryTxt2: #76979c;
    --buttonSecondaryTxt3: #6799a0;
    --buttonSecondaryBorder: #002126;
    --buttonSecondaryRadius: undefinedpx;
    --navbarG: #f2f2f2;
    --navbarBg: #e3e3e3;
    --navbarBgHover: #dedede;
    --navbarBg2: #d4d4d4;
    --navbarBg2Hover: #c4c4c4;
    --navbarBg3: #b0b0b0;
    --navbarBg3Hover: #969696;
    --navbarRGBATransparent: rgba(150, 150, 150, 0);
    --navbarRGBA: rgba(150, 150, 150, 0.6);
    --navbarRGBA2: rgba(150, 150, 150, 0.4);
    --navbarRGBA3: rgba(150, 150, 150, 0.2);
    --navbarAccent: #00d9f9;
    --navbarAccentTxt: #000000;
    --navbarTxt: #000000;
    --navbarTxt2: #2d2d2d;
    --navbarTxt3: #444444;
    --navbarBorder: #f2f2f2;
    --navbarRadius: undefinedpx;
    --sliderG: #002126;
    --sliderBg: #002a30;
    --sliderBgHover: #00333a;
    --sliderBg2: #00454f;
    --sliderBg2Hover: #00606d;
    --sliderBg3: #008396;
    --sliderBg3Hover: #00b0c9;
    --sliderRGBATransparent: rgba(0, 176, 201, 0);
    --sliderRGBA: rgba(0, 176, 201, 0.6);
    --sliderRGBA2: rgba(0, 176, 201, 0.4);
    --sliderRGBA3: rgba(0, 176, 201, 0.2);
    --sliderAccent: #00d9f9;
    --sliderAccentTxt: #000000;
    --sliderTxt: #939393;
    --sliderTxt2: #767e7f;
    --sliderTxt3: #677475;
    --sliderBorder: #002126;
    --sliderRadius: undefinedpx;
    --headerG: #f2f2f2;
    --headerBg: #e3e3e3;
    --headerBgHover: #dedede;
    --headerBg2: #d4d4d4;
    --headerBg2Hover: #c4c4c4;
    --headerBg3: #b0b0b0;
    --headerBg3Hover: #969696;
    --headerRGBATransparent: rgba(150, 150, 150, 0);
    --headerRGBA: rgba(150, 150, 150, 0.6);
    --headerRGBA2: rgba(150, 150, 150, 0.4);
    --headerRGBA3: rgba(150, 150, 150, 0.2);
    --headerAccent: #00d9f9;
    --headerAccentTxt: #000000;
    --headerTxt: #000000;
    --headerTxt2: #2d2d2d;
    --headerTxt3: #444444;
    --headerBorder: #f2f2f2;
    --headerRadius: undefinedpx;
    --subHeaderG: #f2f2f2;
    --subHeaderBg: #d3d3d3;
    --subHeaderBgHover: #cecece;
    --subHeaderBg2: #c4c4c4;
    --subHeaderBg2Hover: #b4b4b4;
    --subHeaderBg3: #a0a0a0;
    --subHeaderBg3Hover: #868686;
    --subHeaderRGBATransparent: rgba(134, 134, 134, 0);
    --subHeaderRGBA: rgba(134, 134, 134, 0.6);
    --subHeaderRGBA2: rgba(134, 134, 134, 0.4);
    --subHeaderRGBA3: rgba(134, 134, 134, 0.2);
    --subHeaderAccent: #00d9f9;
    --subHeaderAccentTxt: #000000;
    --subHeaderTxt: #000000;
    --subHeaderTxt2: #2a2a2a;
    --subHeaderTxt3: #3f3f3f;
    --subHeaderBorder: #f2f2f2;
    --subHeaderRadius: undefinedpx;
    --eventG: #f2f2f2;
    --eventBg: #e3e3e3;
    --eventBgHover: #dedede;
    --eventBg2: #d4d4d4;
    --eventBg2Hover: #c4c4c4;
    --eventBg3: #b0b0b0;
    --eventBg3Hover: #969696;
    --eventRGBATransparent: rgba(150, 150, 150, 0);
    --eventRGBA: rgba(150, 150, 150, 0.6);
    --eventRGBA2: rgba(150, 150, 150, 0.4);
    --eventRGBA3: rgba(150, 150, 150, 0.2);
    --eventAccent: #00d9f9;
    --eventAccentTxt: #000000;
    --eventTxt: #000000;
    --eventTxt2: #2d2d2d;
    --eventTxt3: #444444;
    --eventBorder: #f2f2f2;
    --eventRadius: undefinedpx;
    --eventLiveG: #002126;
    --eventLiveBg: #00a6bf;
    --eventLiveBgHover: #00afc9;
    --eventLiveBg2: #00c1de;
    --eventLiveBg2Hover: #00dbfc;
    --eventLiveBg3: #26e3ff;
    --eventLiveBg3Hover: #59e9ff;
    --eventLiveRGBATransparent: rgba(89, 233, 255, 0);
    --eventLiveRGBA: rgba(89, 233, 255, 0.6);
    --eventLiveRGBA2: rgba(89, 233, 255, 0.4);
    --eventLiveRGBA3: rgba(89, 233, 255, 0.2);
    --eventLiveAccent: #00d9f9;
    --eventLiveAccentTxt: #000000;
    --eventLiveTxt: #939393;
    --eventLiveTxt2: #76979c;
    --eventLiveTxt3: #6799a0;
    --eventLiveBorder: #002126;
    --eventLiveRadius: undefinedpx;
    --oddG: #f2f2f2;
    --oddBg: #ededed;
    --oddBgHover: #e8e8e8;
    --oddBg2: #dedede;
    --oddBg2Hover: #cecece;
    --oddBg3: #bababa;
    --oddBg3Hover: #a0a0a0;
    --oddRGBATransparent: rgba(160, 160, 160, 0);
    --oddRGBA: rgba(160, 160, 160, 0.6);
    --oddRGBA2: rgba(160, 160, 160, 0.4);
    --oddRGBA3: rgba(160, 160, 160, 0.2);
    --oddAccent: #00d9f9;
    --oddAccentTxt: #000000;
    --oddTxt: #000000;
    --oddTxt2: #2f2f2f;
    --oddTxt3: #474747;
    --oddBorder: #f2f2f2;
    --oddRadius: undefinedpx;
    --oddActiveG: #00d9f9;
    --oddActiveBg: #00d0ef;
    --oddActiveBgHover: #00c7e5;
    --oddActiveBg2: #00b5d0;
    --oddActiveBg2Hover: #009bb2;
    --oddActiveBg3: #007789;
    --oddActiveBg3Hover: #004b56;
    --oddActiveRGBATransparent: rgba(0, 75, 86, 0);
    --oddActiveRGBA: rgba(0, 75, 86, 0.6);
    --oddActiveRGBA2: rgba(0, 75, 86, 0.4);
    --oddActiveRGBA3: rgba(0, 75, 86, 0.2);
    --oddActiveAccent: #00d9f9;
    --oddActiveAccentTxt: #000000;
    --oddActiveTxt: #000000;
    --oddActiveTxt2: #002a30;
    --oddActiveTxt3: #003e48;
    --oddActiveBorder: #00d9f9;
    --oddActiveRadius: undefinedpx;
    --showMoreG: #002126;
    --showMoreBg: #002a30;
    --showMoreBgHover: #00333a;
    --showMoreBg2: #00454f;
    --showMoreBg2Hover: #00606d;
    --showMoreBg3: #008396;
    --showMoreBg3Hover: #00b0c9;
    --showMoreRGBATransparent: rgba(0, 176, 201, 0);
    --showMoreRGBA: rgba(0, 176, 201, 0.6);
    --showMoreRGBA2: rgba(0, 176, 201, 0.4);
    --showMoreRGBA3: rgba(0, 176, 201, 0.2);
    --showMoreAccent: #00d9f9;
    --showMoreAccentTxt: #000000;
    --showMoreTxt: #939393;
    --showMoreTxt2: #767e7f;
    --showMoreTxt3: #677475;
    --showMoreBorder: #002126;
    --showMoreRadius: undefinedpx;
    --marketHeaderG: #002126;
    --marketHeaderBg: #003c45;
    --marketHeaderBgHover: #00454f;
    --marketHeaderBg2: #005764;
    --marketHeaderBg2Hover: #007182;
    --marketHeaderBg3: #0095ab;
    --marketHeaderBg3Hover: #00c1de;
    --marketHeaderRGBATransparent: rgba(0, 193, 222, 0);
    --marketHeaderRGBA: rgba(0, 193, 222, 0.6);
    --marketHeaderRGBA2: rgba(0, 193, 222, 0.4);
    --marketHeaderRGBA3: rgba(0, 193, 222, 0.2);
    --marketHeaderAccent: #00d9f9;
    --marketHeaderAccentTxt: #000000;
    --marketHeaderTxt: #939393;
    --marketHeaderTxt2: #768283;
    --marketHeaderTxt3: #67797c;
    --marketHeaderBorder: #002126;
    --marketHeaderRadius: undefinedpx;
    --collapseG: #f2f2f2;
    --collapseBg: #d3d3d3;
    --collapseBgHover: #cecece;
    --collapseBg2: #c4c4c4;
    --collapseBg2Hover: #b4b4b4;
    --collapseBg3: #a0a0a0;
    --collapseBg3Hover: #868686;
    --collapseRGBATransparent: rgba(134, 134, 134, 0);
    --collapseRGBA: rgba(134, 134, 134, 0.6);
    --collapseRGBA2: rgba(134, 134, 134, 0.4);
    --collapseRGBA3: rgba(134, 134, 134, 0.2);
    --collapseAccent: #00d9f9;
    --collapseAccentTxt: #000000;
    --collapseTxt: #000000;
    --collapseTxt2: #2a2a2a;
    --collapseTxt3: #3f3f3f;
    --collapseBorder: #f2f2f2;
    --collapseRadius: undefinedpx;
    --tabG: #f2f2f2;
    --tabBg: #e3e3e3;
    --tabBgHover: #dedede;
    --tabBg2: #d4d4d4;
    --tabBg2Hover: #c4c4c4;
    --tabBg3: #b0b0b0;
    --tabBg3Hover: #969696;
    --tabRGBATransparent: rgba(150, 150, 150, 0);
    --tabRGBA: rgba(150, 150, 150, 0.6);
    --tabRGBA2: rgba(150, 150, 150, 0.4);
    --tabRGBA3: rgba(150, 150, 150, 0.2);
    --tabAccent: #00d9f9;
    --tabAccentTxt: #000000;
    --tabTxt: #000000;
    --tabTxt2: #2d2d2d;
    --tabTxt3: #444444;
    --tabBorder: #f2f2f2;
    --tabRadius: undefinedpx;
    --tabActiveG: #f2f2f2;
    --tabActiveBg: #d3d3d3;
    --tabActiveBgHover: #cecece;
    --tabActiveBg2: #c4c4c4;
    --tabActiveBg2Hover: #b4b4b4;
    --tabActiveBg3: #a0a0a0;
    --tabActiveBg3Hover: #868686;
    --tabActiveRGBATransparent: rgba(134, 134, 134, 0);
    --tabActiveRGBA: rgba(134, 134, 134, 0.6);
    --tabActiveRGBA2: rgba(134, 134, 134, 0.4);
    --tabActiveRGBA3: rgba(134, 134, 134, 0.2);
    --tabActiveAccent: #00d9f9;
    --tabActiveAccentTxt: #000000;
    --tabActiveTxt: #000000;
    --tabActiveTxt2: #2a2a2a;
    --tabActiveTxt3: #3f3f3f;
    --tabActiveBorder: #f2f2f2;
    --tabActiveRadius: undefinedpx;
    --tabSecondaryActiveG: #f2f2f2;
    --tabSecondaryActiveBg: #d3d3d3;
    --tabSecondaryActiveBgHover: #cecece;
    --tabSecondaryActiveBg2: #c4c4c4;
    --tabSecondaryActiveBg2Hover: #b4b4b4;
    --tabSecondaryActiveBg3: #a0a0a0;
    --tabSecondaryActiveBg3Hover: #868686;
    --tabSecondaryActiveRGBATransparent: rgba(134, 134, 134, 0);
    --tabSecondaryActiveRGBA: rgba(134, 134, 134, 0.6);
    --tabSecondaryActiveRGBA2: rgba(134, 134, 134, 0.4);
    --tabSecondaryActiveRGBA3: rgba(134, 134, 134, 0.2);
    --tabSecondaryActiveAccent: #00d9f9;
    --tabSecondaryActiveAccentTxt: #000000;
    --tabSecondaryActiveTxt: #000000;
    --tabSecondaryActiveTxt2: #2a2a2a;
    --tabSecondaryActiveTxt3: #3f3f3f;
    --tabSecondaryActiveBorder: #f2f2f2;
    --tabSecondaryActiveRadius: undefinedpx;
    --menu_1G: #f2f2f2;
    --menu_1Bg: #e3e3e3;
    --menu_1BgHover: #dedede;
    --menu_1Bg2: #d4d4d4;
    --menu_1Bg2Hover: #c4c4c4;
    --menu_1Bg3: #b0b0b0;
    --menu_1Bg3Hover: #969696;
    --menu_1RGBATransparent: rgba(150, 150, 150, 0);
    --menu_1RGBA: rgba(150, 150, 150, 0.6);
    --menu_1RGBA2: rgba(150, 150, 150, 0.4);
    --menu_1RGBA3: rgba(150, 150, 150, 0.2);
    --menu_1Accent: #00d9f9;
    --menu_1AccentTxt: #000000;
    --menu_1Txt: #000000;
    --menu_1Txt2: #2d2d2d;
    --menu_1Txt3: #444444;
    --menu_1Border: #f2f2f2;
    --menu_1Radius: undefinedpx;
    --menu_2G: #f2f2f2;
    --menu_2Bg: #d3d3d3;
    --menu_2BgHover: #cecece;
    --menu_2Bg2: #c4c4c4;
    --menu_2Bg2Hover: #b4b4b4;
    --menu_2Bg3: #a0a0a0;
    --menu_2Bg3Hover: #868686;
    --menu_2RGBATransparent: rgba(134, 134, 134, 0);
    --menu_2RGBA: rgba(134, 134, 134, 0.6);
    --menu_2RGBA2: rgba(134, 134, 134, 0.4);
    --menu_2RGBA3: rgba(134, 134, 134, 0.2);
    --menu_2Accent: #00d9f9;
    --menu_2AccentTxt: #000000;
    --menu_2Txt: #000000;
    --menu_2Txt2: #2a2a2a;
    --menu_2Txt3: #3f3f3f;
    --menu_2Border: #f2f2f2;
    --menu_2Radius: undefinedpx;
    --menu_3G: #f2f2f2;
    --menu_3Bg: #bfbfbf;
    --menu_3BgHover: #bababa;
    --menu_3Bg2: #b0b0b0;
    --menu_3Bg2Hover: #a0a0a0;
    --menu_3Bg3: #8c8c8c;
    --menu_3Bg3Hover: #727272;
    --menu_3RGBATransparent: rgba(114, 114, 114, 0);
    --menu_3RGBA: rgba(114, 114, 114, 0.6);
    --menu_3RGBA2: rgba(114, 114, 114, 0.4);
    --menu_3RGBA3: rgba(114, 114, 114, 0.2);
    --menu_3Accent: #00d9f9;
    --menu_3AccentTxt: #000000;
    --menu_3Txt: #000000;
    --menu_3Txt2: #262626;
    --menu_3Txt3: #393939;
    --menu_3Border: #f2f2f2;
    --menu_3Radius: undefinedpx;
    --inputG: #f2f2f2;
    --inputBg: #e3e3e3;
    --inputBgHover: #dedede;
    --inputBg2: #d4d4d4;
    --inputBg2Hover: #c4c4c4;
    --inputBg3: #b0b0b0;
    --inputBg3Hover: #969696;
    --inputRGBATransparent: rgba(150, 150, 150, 0);
    --inputRGBA: rgba(150, 150, 150, 0.6);
    --inputRGBA2: rgba(150, 150, 150, 0.4);
    --inputRGBA3: rgba(150, 150, 150, 0.2);
    --inputAccent: #00d9f9;
    --inputAccentTxt: #000000;
    --inputTxt: #000000;
    --inputTxt2: #2d2d2d;
    --inputTxt3: #444444;
    --inputBorder: #f2f2f2;
    --inputRadius: undefinedpx;
    --inputSecondaryG: #f2f2f2;
    --inputSecondaryBg: #d3d3d3;
    --inputSecondaryBgHover: #cecece;
    --inputSecondaryBg2: #c4c4c4;
    --inputSecondaryBg2Hover: #b4b4b4;
    --inputSecondaryBg3: #a0a0a0;
    --inputSecondaryBg3Hover: #868686;
    --inputSecondaryRGBATransparent: rgba(134, 134, 134, 0);
    --inputSecondaryRGBA: rgba(134, 134, 134, 0.6);
    --inputSecondaryRGBA2: rgba(134, 134, 134, 0.4);
    --inputSecondaryRGBA3: rgba(134, 134, 134, 0.2);
    --inputSecondaryAccent: #00d9f9;
    --inputSecondaryAccentTxt: #000000;
    --inputSecondaryTxt: #000000;
    --inputSecondaryTxt2: #2a2a2a;
    --inputSecondaryTxt3: #3f3f3f;
    --inputSecondaryBorder: #f2f2f2;
    --inputSecondaryRadius: undefinedpx;
    --filterG: #f2f2f2;
    --filterBg: #d3d3d3;
    --filterBgHover: #cecece;
    --filterBg2: #c4c4c4;
    --filterBg2Hover: #b4b4b4;
    --filterBg3: #a0a0a0;
    --filterBg3Hover: #868686;
    --filterRGBATransparent: rgba(134, 134, 134, 0);
    --filterRGBA: rgba(134, 134, 134, 0.6);
    --filterRGBA2: rgba(134, 134, 134, 0.4);
    --filterRGBA3: rgba(134, 134, 134, 0.2);
    --filterAccent: #00d9f9;
    --filterAccentTxt: #000000;
    --filterTxt: #000000;
    --filterTxt2: #2a2a2a;
    --filterTxt3: #3f3f3f;
    --filterBorder: #f2f2f2;
    --filterRadius: undefinedpx;
    --tooltipG: #f2f2f2;
    --tooltipBg: #e3e3e3;
    --tooltipBgHover: #dedede;
    --tooltipBg2: #d4d4d4;
    --tooltipBg2Hover: #c4c4c4;
    --tooltipBg3: #b0b0b0;
    --tooltipBg3Hover: #969696;
    --tooltipRGBATransparent: rgba(150, 150, 150, 0);
    --tooltipRGBA: rgba(150, 150, 150, 0.6);
    --tooltipRGBA2: rgba(150, 150, 150, 0.4);
    --tooltipRGBA3: rgba(150, 150, 150, 0.2);
    --tooltipAccent: #00d9f9;
    --tooltipAccentTxt: #000000;
    --tooltipTxt: #000000;
    --tooltipTxt2: #2d2d2d;
    --tooltipTxt3: #444444;
    --tooltipBorder: #f2f2f2;
    --tooltipRadius: undefinedpx;
    --modalG: #f2f2f2;
    --modalBg: #e3e3e3;
    --modalBgHover: #dedede;
    --modalBg2: #d4d4d4;
    --modalBg2Hover: #c4c4c4;
    --modalBg3: #b0b0b0;
    --modalBg3Hover: #969696;
    --modalRGBATransparent: rgba(150, 150, 150, 0);
    --modalRGBA: rgba(150, 150, 150, 0.6);
    --modalRGBA2: rgba(150, 150, 150, 0.4);
    --modalRGBA3: rgba(150, 150, 150, 0.2);
    --modalAccent: #00d9f9;
    --modalAccentTxt: #000000;
    --modalTxt: #000000;
    --modalTxt2: #2d2d2d;
    --modalTxt3: #444444;
    --modalBorder: #f2f2f2;
    --modalRadius: undefinedpx;
    --betSlipG: #f2f2f2;
    --betSlipBg: #e3e3e3;
    --betSlipBgHover: #dedede;
    --betSlipBg2: #d4d4d4;
    --betSlipBg2Hover: #c4c4c4;
    --betSlipBg3: #b0b0b0;
    --betSlipBg3Hover: #969696;
    --betSlipRGBATransparent: rgba(150, 150, 150, 0);
    --betSlipRGBA: rgba(150, 150, 150, 0.6);
    --betSlipRGBA2: rgba(150, 150, 150, 0.4);
    --betSlipRGBA3: rgba(150, 150, 150, 0.2);
    --betSlipAccent: #00d9f9;
    --betSlipAccentTxt: #000000;
    --betSlipTxt: #000000;
    --betSlipTxt2: #2d2d2d;
    --betSlipTxt3: #444444;
    --betSlipBorder: #f2f2f2;
    --betSlipRadius: undefinedpx;
    --betSlipStakeG: #f2f2f2;
    --betSlipStakeBg: #d3d3d3;
    --betSlipStakeBgHover: #cecece;
    --betSlipStakeBg2: #c4c4c4;
    --betSlipStakeBg2Hover: #b4b4b4;
    --betSlipStakeBg3: #a0a0a0;
    --betSlipStakeBg3Hover: #868686;
    --betSlipStakeRGBATransparent: rgba(134, 134, 134, 0);
    --betSlipStakeRGBA: rgba(134, 134, 134, 0.6);
    --betSlipStakeRGBA2: rgba(134, 134, 134, 0.4);
    --betSlipStakeRGBA3: rgba(134, 134, 134, 0.2);
    --betSlipStakeAccent: #00d9f9;
    --betSlipStakeAccentTxt: #000000;
    --betSlipStakeTxt: #000000;
    --betSlipStakeTxt2: #2a2a2a;
    --betSlipStakeTxt3: #3f3f3f;
    --betSlipStakeBorder: #f2f2f2;
    --betSlipStakeRadius: undefinedpx;
    --betSlipInputG: #f2f2f2;
    --betSlipInputBg: #d3d3d3;
    --betSlipInputBgHover: #cecece;
    --betSlipInputBg2: #c4c4c4;
    --betSlipInputBg2Hover: #b4b4b4;
    --betSlipInputBg3: #a0a0a0;
    --betSlipInputBg3Hover: #868686;
    --betSlipInputRGBATransparent: rgba(134, 134, 134, 0);
    --betSlipInputRGBA: rgba(134, 134, 134, 0.6);
    --betSlipInputRGBA2: rgba(134, 134, 134, 0.4);
    --betSlipInputRGBA3: rgba(134, 134, 134, 0.2);
    --betSlipInputAccent: #00d9f9;
    --betSlipInputAccentTxt: #000000;
    --betSlipInputTxt: #000000;
    --betSlipInputTxt2: #2a2a2a;
    --betSlipInputTxt3: #3f3f3f;
    --betSlipInputBorder: #f2f2f2;
    --betSlipInputRadius: undefinedpx;
    --betSlipButtonG: #f2f2f2;
    --betSlipButtonBg: #d3d3d3;
    --betSlipButtonBgHover: #cecece;
    --betSlipButtonBg2: #c4c4c4;
    --betSlipButtonBg2Hover: #b4b4b4;
    --betSlipButtonBg3: #a0a0a0;
    --betSlipButtonBg3Hover: #868686;
    --betSlipButtonRGBATransparent: rgba(134, 134, 134, 0);
    --betSlipButtonRGBA: rgba(134, 134, 134, 0.6);
    --betSlipButtonRGBA2: rgba(134, 134, 134, 0.4);
    --betSlipButtonRGBA3: rgba(134, 134, 134, 0.2);
    --betSlipButtonAccent: #00d9f9;
    --betSlipButtonAccentTxt: #000000;
    --betSlipButtonTxt: #000000;
    --betSlipButtonTxt2: #2a2a2a;
    --betSlipButtonTxt3: #3f3f3f;
    --betSlipButtonBorder: #f2f2f2;
    --betSlipButtonRadius: undefinedpx;
    --betSlipHeaderG: #f2f2f2;
    --betSlipHeaderBg: #d3d3d3;
    --betSlipHeaderBgHover: #cecece;
    --betSlipHeaderBg2: #c4c4c4;
    --betSlipHeaderBg2Hover: #b4b4b4;
    --betSlipHeaderBg3: #a0a0a0;
    --betSlipHeaderBg3Hover: #868686;
    --betSlipHeaderRGBATransparent: rgba(134, 134, 134, 0);
    --betSlipHeaderRGBA: rgba(134, 134, 134, 0.6);
    --betSlipHeaderRGBA2: rgba(134, 134, 134, 0.4);
    --betSlipHeaderRGBA3: rgba(134, 134, 134, 0.2);
    --betSlipHeaderAccent: #00d9f9;
    --betSlipHeaderAccentTxt: #000000;
    --betSlipHeaderTxt: #000000;
    --betSlipHeaderTxt2: #2a2a2a;
    --betSlipHeaderTxt3: #3f3f3f;
    --betSlipHeaderBorder: #f2f2f2;
    --betSlipHeaderRadius: undefinedpx;
    --betSlipTabG: #f2f2f2;
    --betSlipTabBg: #d3d3d3;
    --betSlipTabBgHover: #cecece;
    --betSlipTabBg2: #c4c4c4;
    --betSlipTabBg2Hover: #b4b4b4;
    --betSlipTabBg3: #a0a0a0;
    --betSlipTabBg3Hover: #868686;
    --betSlipTabRGBATransparent: rgba(134, 134, 134, 0);
    --betSlipTabRGBA: rgba(134, 134, 134, 0.6);
    --betSlipTabRGBA2: rgba(134, 134, 134, 0.4);
    --betSlipTabRGBA3: rgba(134, 134, 134, 0.2);
    --betSlipTabAccent: #00d9f9;
    --betSlipTabAccentTxt: #000000;
    --betSlipTabTxt: #000000;
    --betSlipTabTxt2: #2a2a2a;
    --betSlipTabTxt3: #3f3f3f;
    --betSlipTabBorder: #f2f2f2;
    --betSlipTabRadius: undefinedpx;
    --betSlipTabActiveG: #f2f2f2;
    --betSlipTabActiveBg: #d3d3d3;
    --betSlipTabActiveBgHover: #cecece;
    --betSlipTabActiveBg2: #c4c4c4;
    --betSlipTabActiveBg2Hover: #b4b4b4;
    --betSlipTabActiveBg3: #a0a0a0;
    --betSlipTabActiveBg3Hover: #868686;
    --betSlipTabActiveRGBATransparent: rgba(134, 134, 134, 0);
    --betSlipTabActiveRGBA: rgba(134, 134, 134, 0.6);
    --betSlipTabActiveRGBA2: rgba(134, 134, 134, 0.4);
    --betSlipTabActiveRGBA3: rgba(134, 134, 134, 0.2);
    --betSlipTabActiveAccent: #00d9f9;
    --betSlipTabActiveAccentTxt: #000000;
    --betSlipTabActiveTxt: #000000;
    --betSlipTabActiveTxt2: #2a2a2a;
    --betSlipTabActiveTxt3: #3f3f3f;
    --betSlipTabActiveBorder: #f2f2f2;
    --betSlipTabActiveRadius: undefinedpx;
    --tmLogoG: #f2f2f2;
    --tmLogoBg: #e3e3e3;
    --tmLogoBgHover: #dedede;
    --tmLogoBg2: #d4d4d4;
    --tmLogoBg2Hover: #c4c4c4;
    --tmLogoBg3: #b0b0b0;
    --tmLogoBg3Hover: #969696;
    --tmLogoRGBATransparent: rgba(150, 150, 150, 0);
    --tmLogoRGBA: rgba(150, 150, 150, 0.6);
    --tmLogoRGBA2: rgba(150, 150, 150, 0.4);
    --tmLogoRGBA3: rgba(150, 150, 150, 0.2);
    --tmLogoAccent: #00d9f9;
    --tmLogoAccentTxt: #000000;
    --tmLogoTxt: #000000;
    --tmLogoTxt2: #2d2d2d;
    --tmLogoTxt3: #444444;
    --tmLogoBorder: #f2f2f2;
    --tmLogoRadius: undefinedpx;
    }
